Adeliz-Regular.ttf
Adeliz-Regular.otf
NotebookApp.spec
dist/NotebookApp.exe
build/NotebookApp/Analysis-00.toc
build/NotebookApp/base_library.zip
build/NotebookApp/EXE-00.toc
build/NotebookApp/localpycs/pyimod01_archive.pyc
build/NotebookApp/localpycs/pyimod02_importers.pyc
build/NotebookApp/localpycs/pyimod03_ctypes.pyc
build/NotebookApp/localpycs/pyimod04_pywin32.pyc
build/NotebookApp/localpycs/struct.pyc
build/NotebookApp/NotebookApp.pkg
build/NotebookApp/PKG-00.toc
build/NotebookApp/PYZ-00.pyz
build/NotebookApp/PYZ-00.toc
build/NotebookApp/warn-NotebookApp.txt
build/NotebookApp/xref-NotebookApp.html
dist/NotebookApp.exe
dist/NotebookApp.exe
